.contract-otp {
  width: 800px;
  font-family: "Times New Roman", serif;
  line-height: 1.8;
  color: #000;
  border: 1px solid #ddd;
}

.divider {
  width: 60%;
  margin: auto;
  border-top: 1px solid black;
}

.otp-box {
  margin-top: 20px;
}

.otp-code {
  font-size: 1.8rem;
  letter-spacing: 4px;
  color: #198754;
  font-weight: bold;
}

ul {
  margin-left: 20px;
}

@media print {
  .btn {
    display: none;
  }
}
