.staff-login-main {
  min-height: calc(100vh - 240px); /* account for header/footer height */
}

.staff-login-main .card {
  border: none;
}

.staff-login-main .card-title {
  color: #0d6efd; /* bootstrap primary */
}
