.final {
    height: 583px;
    overflow: hidden;
    position: relative;
    width: 1309px;
}

.final .image {
    height: 583px;
    object-fit: cover;
    position: absolute;
    width: 1309px;
}

.final .img {
    height: 583px;
    object-fit: cover;
    position: absolute;
}

.final .image-2 {
    height: 583px;
    object-fit: cover;
    position: absolute;
}

.final .image-3 {
    height: 583px;
    object-fit: cover;
    position: absolute;
}

.final .image-4 {
    height: 583px;
    object-fit: cover;
    position: absolute;
    width: 1309px;
}

.final .image-5 {
    height: 583px;
    object-fit: cover;
    position: absolute;
    top: 4820px;
    width: 1309px;
}

.final .text-wrapper {
    color: #ffffff;
    font-family: "Arvo-Bold", Helvetica;
    font-size: 100px;
    font-weight: 700;
    left: 353px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #000000d9;
    top: 153px;
    width: 608px;
}

.final .div {
    color: #a9fdf5;
    font-family: "Arvo-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 353px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 346px;
    width: 551px;
}

.final .image-6 {
    height: 583px;
    left: 15495px;
    position: absolute;
    top: 4810px;
    width: 1309px;
}

.final.slider-components2 {
    left: 5329px;
    top: 20px;
}

.final.variant-5 {
    background-image: url(./image-12.png);
    background-position: 50% 50%;
    background-size: cover;
    left: 30px;
    top: 30px;
}

.final.slider-components4 {
    left: 15947px;
    top: 20px;
}

.final.slider-components3 {
    left: 10638px;
    top: 20px;
}

.final.slider-components2 .image {
    left: 8864px;
    top: 4820px;
}

.final.variant-5 .image {
    left: 16817px;
    top: 4810px;
}

.final.slider-components4 .image {
    left: -4395px;
    top: 4820px;
}

.final.slider-components3 .image {
    left: 2223px;
    top: 4820px;
}

.final.slider-components2 .img {
    left: 0;
    top: 0;
    width: 1307px;
}

.final.variant-5 .img {
    left: 18143px;
    top: 4810px;
    width: 1309px;
}

.final.slider-components4 .img {
    left: -3069px;
    top: 4820px;
    width: 1309px;
}

.final.slider-components3 .img {
    left: 3549px;
    top: 4820px;
    width: 1309px;
}

.final.slider-components2 .image-2 {
    left: 11516px;
    top: 4820px;
    width: 1309px;
}

.final.variant-5 .image-2 {
    left: 19469px;
    top: 4810px;
    width: 1309px;
}

.final.slider-components4 .image-2 {
    left: -1743px;
    top: 4820px;
    width: 1309px;
}

.final.slider-components3 .image-2 {
    left: 0;
    top: 0;
    width: 1301px;
}

.final.slider-components2 .image-3 {
    left: 12842px;
    top: 4820px;
    width: 1309px;
}

.final.variant-5 .image-3 {
    left: 20795px;
    top: 4810px;
    width: 1309px;
}

.final.slider-components4 .image-3 {
    left: 9px;
    top: 0;
    width: 1300px;
}

.final.slider-components3 .image-3 {
    left: 6201px;
    top: 4820px;
    width: 1309px;
}

.final.slider-components2 .image-4 {
    left: 14168px;
    top: 4820px;
}

.final.variant-5 .image-4 {
    left: 22121px;
    top: 4810px;
}

.final.slider-components4 .image-4 {
    left: 909px;
    top: 4820px;
}

.final.slider-components3 .image-4 {
    left: 7527px;
    top: 4820px;
}

.final.slider-components2 .image-5 {
    left: 15494px;
}

.final.variant-5 .image-5 {
    left: 15494px;
}

.final.slider-components4 .image-5 {
    left: 2235px;
}

.final.slider-components3 .image-5 {
    left: 8853px;
}
